<div class="container">
    <h1>Liste of spectacles 
    </h1> <br>
    <td><a class="btn btn-success" [routerLink]="['/add']">Ajouter</a></td>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Id spectacles</th>
                    <th>Nom du spectacles</th>
                    <th>adresse de spectacles</th>
                    <th> description</th>
                    <th> date de spectacles</th>
                </tr>
                <tbody *ngFor="let spect of spectacles ; let i = index">
                    <tr>


                        <td>{{spect.id}}</td>
                        <td>{{spect.noms}}</td>
                        <td>{{spect.adresse}}</td>
                        <td> {{ spect.description}} </td>
                        <td> {{ spect.dateCreation | date: "dd/MM/yyyy"}} </td>
                        <td><a class="btn btn-danger" (click)="supprimerspectacle(spect)">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/update',spect.id]">Modifier</a></td>
                    </tr>
                </tbody>
                <div class="d-flex align-items-end flex-column">
                   
                </div>
            </table>
        </div>
    </div>
</div>